* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

section {
    margin: 60px auto;
    max-width: 700px;
    
    padding: 30px;
}

.formularioCampo {
    border: 2px solid black;
    padding: 30px;
}

section h1 {
    text-align: left;
    margin-bottom: 15px;
     
}

section div {
    margin-bottom: 20px;
}

.opcoes label {
    margin-right: 20px;
    margin-left: 5px;
   
}

.button {
    padding: 5px 50px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
}

.button:hover{
    background-color: rgb(166, 177, 182);
}

.textArea textarea {
    width: 100%;
    height: 100px;
    text-align: left;
    float:initial;
    margin-top: 5px;
    resize: none;
}



.textArea {
    width: 400px;
}

.concordo div {
    margin: 5px 0;
}

textarea:focus,  input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#email, #name {
    height: 20px;
}